.background {
    background-image: url("../image/background.jpg");
    background-size: cover;
    height: 100vh;
}
.header {
    border-radius: 20px;
    background-color: aquamarine;
    position: relative;
    top: 50px;
    margin: 0px 200px 0px 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid rgb(35, 54, 223);
}
.header > div {
    border-right: 2px solid black;
    border-right-style: dotted;
    width: 325px;
    text-align: center;
}
.header > .diemso {
    border-right: none;
    /* padding-right: 30px; */
}
.main {
    border-radius: 20px;
    background-color: aquamarine;
    position: relative;
    top: 50px;
    margin: 0px 200px 0px 200px;
    height: 80vh;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid rgb(35, 54, 223);
}
.row {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
.row > div {
    width: 300px;
    margin-top: 30px;
}
.word {
    word-wrap: break-word;
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name {
    word-wrap: break-word;
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.xephang {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-top1 {
    background-image: url("../image/top1.png");
    background-size: cover;
    width: 100px;
    height: 60px;
}
.icon-top2 {
    background-image: url("../image/top2.png");
    background-size: cover;
    width: 100px;
    height: 60px;
}
.icon-top3 {
    background-image: url("../image/top3.png");
    background-size: cover;
    width: 100px;
    height: 60px;
}
.icon-top {
    background-image: url("../image/top.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    text-align: center;
}
.btn-go-back {
    position: absolute;
    top: 10px;
    left: 45%;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;
    border: solid 2px black;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.btn-go-back:hover{
    background-color: yellow;
}
.btn-go-back a{
    text-decoration: none;
}
.btn-go-back a:visited,.btn-go-back a:hover{
    color: black;
}
/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    display: none;
    opacity: 0.8;
}

.load {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
