body {
    background: url("../image/backgroud-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
/* Message */
.message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    background-color: rgb(0, 128, 128, 0.5);
    border-top: 1.5px solid rgb(0, 128, 128, 0.8);
    text-align: center;
    font-size: 75px;
    color: cornsilk;
}
/* Balloon */
.balloon {
    border: 1px solid black;
    top: -20%;
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;

    text-align: center;
    font-size: 60px;
    font-weight: bold;
    transition: all 1s;
}
.balloon-animation {
    animation: balloonTopDown;
}
/* User Info */
.user-info{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 90%;
    background-color: rgb(0, 128, 128, 0.5);
    border-top: 1.5px solid rgb(0, 128, 128, 0.8);
    color: white;
}
.user-name{
    position: relative;
    top:10%;
    left: 11%;
    font-size: 25px;
    font-family: monospace;
}
.user-hightest-score{
    position: relative;
    top: -20%;
    right: 15%;
    font-size: 25px;
    font-family: monospace;
    text-align: right;
}
/* Left Row */
.left-row {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 90%;
    background: url("../image/row-left.jpg");
    background-size: cover;
    font-size: 25px;
    z-index: 2;
}
.left-row .toolbar-properties {
    position: relative;
    top: 15%;
    left: 10px;
}
.left-row > div {
    color: black;
    font-family: monospace;
}
.black-ballon {
    background-color: rgb(0, 0, 0);
    color: white;
}
/* Right row */
.right-row {
    position: fixed;
    top: 0px;
    left: 88%;
    bottom: 0;
    right: 0;
    background: url("../image/row-right.jpg");
    background-size: cover;
    font-size: 25px;
    color: black;
    z-index: 2;
}
.right-row .keyboard-shortcuts {
    position: relative;
    top: 10%;
    left: 10px;
}
.right-row .keyboard-shortcuts span {
    font-size: 20px;
}
/* Screen message */
.screen-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: gray;
    text-align: center;
    z-index: 4;
}
.screen-message div {
    position: absolute;
    font-family: "Calligraphy", cursive;
    color: black;
    font-size: 50px;
    top: 15%;
    left: 30%;
    right: 30%;
    z-index: 9;
}
/* Fade animation */
.fade-1 {
    animation: fade-1 10s forwards;
}
.fade-2 {
    animation: fade-2 7s forwards;
}
@keyframes fade-1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
/* Animation balloon */
@keyframes balloonTopDown {
    100% {
        top: 90%;
    }
}
.text-vietnamese {
    /* padding-right: 100; */
    text-align: left;
    font-size: 18px;
}
.text-star {
    position: absolute;
    top: -7%;
    left: -7%;
    font-size: 35px;
    color: yellow;
}
.arrow-icon {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 120px;
    text-align: center;
}
.arrow-icon .arrow-button {
    width: 70px;
    height: 70px;
    background-image: url("../image/bow-and-arrow.png");
    background-size: cover;
    transform: rotateZ(30deg);
    background-color: Transparent;
    border: none;
    transition: 0.25s;
}
.arrow-icon .arrow-button:hover {
    background-color: yellow;
}
/* Button in Message screen */
.btn-screen-message {
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}
.btn-screen-message:hover {
    background-color: red;
    color: blanchedalmond;
}
.btn-play-again{
    background: greenyellow;
}
.btn-go-back{
    background: yellow;
}
.small-text{
    font-size: 25px;
}
/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    display: none;
    opacity: 0.8;
    z-index: 99;
}

.load {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
