body {
  background: url("../image/bg-menu-game.jpg");
  background-size: cover;
}
.hello{
  position: fixed;
  left: 5%;
  top: 5%;
  color: aliceblue;
  font-size: 25px;
}
.frame {
  width: 500px;
  height: auto;
  background-color: transparent;
  margin: auto;
  text-align: center;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
  top: -5rem;
}

img {
  height: 200px;
  width: 900px;
  text-align: center;
  margin: auto;
}
.frame1 {
  text-align: center;
  margin: auto;
  z-index: 10;
  margin-top: 35px;
}
.button {
  text-align: middle;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: transparent;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255, 139, 253, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255, 139, 253, 0);
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  border: 3px double #ff4294;
  border-radius: 3px;
  color: #00004a;
  font-family: "Luckiest Guy", cursive;
  font-size: 16px;
}
.btn-group {
  margin-top: 80px;
}
/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  display: none;
  opacity: 0.8;
}

.load {
  position: absolute;
  top: 40%;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

