.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../image/background.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.main{
    background: rgb(154, 238, 69);
    border-radius: 30px;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    padding-bottom: 20px;
}
.dangki-input{
   display: flex;
   justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.dangki{
    color:white;
    font-size: 90px;
    font-family: "Brush Script MT";
    margin-bottom: 10px;
    margin-top: 10px;
}
.input-dangki{
    border:none;
    background: rgb(154, 238, 69);
    -webkit-appearance:  none; 
    box-sizing:  border-box; 
    outline: 0; 
    font-size: 20px;
    padding:  20px 0px; 
    height:  56px; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    color: white;
}
.combobox-dangki{
    border:none;
    background: rgb(154, 238, 69);
    -webkit-appearance:  none; 
    box-sizing:  border-box; 
    outline: 0; 
    font-size: 20px;
    padding:  16px 0px; 
    height:  56px; 
    margin-top: 23px;
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    color: white;
    width: 208px;
    height: 58;
}
.combobox-dangki:focus{
    border-bottom:  solid 1px white; 
    outline: 0; 
    box-shadow:  0 2px 6px -8px rgba(white, .45);
  }
::placeholder { /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
    opacity: 1; /* Firefox */
    font-family:sans-serif
}
.input-dangki:focus{
    border-bottom:  solid 1px white; 
    outline: 0; 
    box-shadow:  0 2px 6px -8px rgba(white, .45);
  }
.fa-user-tie{
    color: white;
    margin-right: 20px;
}
.fa-lock{
    color: white;
    margin-right: 20px;
}
.fa-caret-down{
    color: white;
    position: relative;
}
.submit-dangki{
    margin-top: 20px;
}
.submit-dangki{
    margin-top: 10px;
}
.submit {
    font-family: "Brush Script MT";
    margin-top: 20px;
    -webkit-appearance:  none; 
    width:  auto;
    min-width:  100px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    margin-top:  5px; 
    background-color:  #474e55;
    color:  #fff; 
    font-size:  20px;
    margin-left:  auto; 
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    transition:  all .3s ease; 
    outline: 0; 
  }
  .submit:active {
    transform:  scale(.99);
  }
  .submit:hover {
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(red, .65);
  }
  
  /* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    display: none;
    opacity: 0.8;
  }
  
  .load {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }
  
