.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../image/background.jpg");
    background-size: cover;
    text-align: center;
}
.main {
    background: rgb(154, 238, 69);
    border-radius: 30px;
    position: absolute;
    top: 5%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muasam {
    color: white;
    font-size: 90px;
    font-family: "Brush Script MT";
    margin-bottom: 10px;
    margin-top: -50px;
}

.submit-muasam {
    margin-top: 20px;
}
.submit-muasam {
    margin-top: 10px;
}
.submit {
    font-family: "Brush Script MT";
    margin-top: 20px;
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 5px;
    background-color: #474e55;
    color: #fff;
    font-size: 20px;
    margin-left: auto;
    font-weight: 300;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}
.submit:active {
    transform: scale(0.99);
}
.submit:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(red, 0.65);
}

.image-shopping {
    width: 300px;
    height: 500px;
    background-image: url("../image/shopping.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.box-shopping {
    display: flex;
}
.all-item {
    height: 500px;
    overflow: auto;
}
.item-shopping {
    background: rgb(20, 201, 233);
    border-radius: 40px;
    width: 380px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 10px 0px;
}
.image-1-arrow{
    border: 2px solid black;
    border-radius: 25%;
    background-image: url("../image/1-arrow.png");
    background-size: cover;
    width: 120px;
    height: 80px;
}
.image-3-arrow{
    border: 2px solid black;
    border-radius: 25%;
    background-image: url("../image/3-arrow.jpg");
    background-size: cover;
    width: 120px;
    height: 80px;
}
.image-10-arrow{
    border: 2px solid black;
    border-radius: 25%;
    background-image: url("../image/10-arrow.png");
    background-size: cover;
    width: 120px;
    height: 80px;
}
.user-info{
    position: absolute;
    bottom: 5%;
    left: 1%;
    font-size: 25px;
}
.back-to-menu-game{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: skyblue;
    transition: 0.5s;
}
.back-to-menu-game:hover{
    top: 7px;
    background-color: springgreen;
}
/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    display: none;
    opacity: 0.8;
}

.load {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
